{% extends 'base.html' %}
{% block con %}
    <h2><b>{{b.subject}}</b></h2>
    <div class="row mt-5">
        <div class="col-sm-9">
            <textarea class="form-control" style="height:200px; font-size:small ;" disabled>{{b.content}}</textarea>
        </div>
        <div class="col-sm-3">
            <img src="{{b.writer.getpic}}" class="rounded-circle" width="80%">
            <div class="text-center mt-3">
                <h5>작성자 <b>{{b.writer}}</b></h5>
            </div>
            <div class="text-end mt-3">
                Date: <br>
                {{b.pubdate}}
            </div>
        </div>
    </div>

    <div class="text-end mt-4">
        {% if user in b.likey.all %}
            <a href="{% url 'board:unlikey' b.id %}" class="btn btn-outline-danger ">좋아요취소</a>
        {% else %}
            <a href="{% url 'board:likey' b.id %}" class="btn btn-primary">좋아요</a>
        {% endif %}
        <a href="{% url 'board:index' %}" class="btn btn-secondary">글목록</a>
        {% if user == b.writer %}
            <a href="{% url 'board:update' b.id %}" class="btn btn-dark">글수정</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remove">
                글삭제
            </button>
        {% endif %}    
    </div>
    <hr>
        <form method='post' action = "{% url 'board:creply' b.id %}">
            {% csrf_token %}
            <div class="row g-4">
                <div class="col-sm">
                    <input name="rep" class="form-control" type='text' value="{{user}}" disabled>
                </div>
                <div class="col-sm-7">
                    <input name='com' class="col-sm-9 form-control" type='text'placeholder="댓글을 입력하세요.">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-secondary">댓글 등록</button>
                </div>
            </div>
        </form>
    <hr>
    
    {% for i in rset %}
        <table class="table table-borderless" >
            <thead>
                <tr class="table-dark">
                    <th scope="col">작성자</th>
                    <th scope="col">댓글</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>            
                <tr>
                    <td><b>{{ i.replyer }}</b></td> 
                    <td>{{ i.comment }}</td>
                    <td><a href="{% url 'board:dreply' b.id i.id%}"><button class="btn-close" disabled aria-label="Close"></button></a></td>
                </tr>
            </tbody>
        </table>
    {% empty %}
        <b>댓글</b>을 달아주세요
    {% endfor %}
 

    <!-- Modal -->
    <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림창</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <a href="{% url 'board:delete' b.id %}" class="btn btn-danger">삭제</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}